@import "tailwindcss";

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

body {
  background: #050505;
  color: #ffffff;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Better spacing for anchor links */
section {
  scroll-margin-top: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  user-select: none;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

::selection {
  background: #C8A25A;
  color: black;
}

/* Luxury Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C8A25A;
}